﻿body {
	.derby_banner {
		background: url(../images/derby_banner.png) no-repeat 33% center;
		background-size: cover;
	}
	.derby_car {
		background: url(../images/derby_car.png) no-repeat left 33%;
		background-size: cover;
	}
	.derby_p1 {
		background: url(../images/derby_p1.png) no-repeat left 33%;
		background-size: cover;
	}
	.derby_p2 {
		background: url(../images/derby_p2.png) no-repeat left 33%;
		background-size: cover;
	}
	#matrixRisks {
		tr td {
			font-weight: 500;
			&.selected {
				color:$red !important;
			}
		}
		
	}
}