﻿<table materialize id="matrixRisks" style="min-width: 500px; width: 500px; max-width: 500px; min-height: 500px; height: 500px; max-height: 500px">
    <tbody>
        <tr>
            <td ng-click="selectValue(1)" class="background-green align-center" ng-class="{'selected': data.value == 1}" style="width: 25%;">
                <span ng-if="data.value == 1"><div class="ball">1</div>></span>
                <span ng-if="data.value != 1">1</span>
            </td>
            <td ng-click="selectValue(2)" class="background-green align-center" ng-class="{'selected': data.value == 2}" style="width: 25%;">
                <span ng-if="data.value == 2">Selected</span>
                <span ng-if="data.value != 2">2</span>
            </td>
            <td ng-click="selectValue(3)" class="background-green align-center" ng-class="{'selected': data.value == 3}" style="width: 25%;">
                <span ng-if="data.value == 3">Selected</span>
                <span ng-if="data.value != 3">3</span>
            </td>
            <td ng-click="selectValue(4)" class="background-green align-center" ng-class="{'selected': data.value == 4}" style="width: 25%;">
                <span ng-if="data.value == 4">Selected</span>
                <span ng-if="data.value != 4">4</span>
            </td>
        </tr>
        <tr>

            <td ng-click="selectValue(5)" class="background-amber align-center" ng-class="{'selected': data.value == 5}">
                <span ng-if="data.value == 5">Selected</span>
                <span ng-if="data.value != 5">5</span>
            </td>
            <td ng-click="selectValue(6)" class="background-amber align-center" ng-class="{'selected': data.value == 6}">
                <span ng-if="data.value == 6">Selected</span>
                <span ng-if="data.value != 6">6</span>
            </td>
            <td ng-click="selectValue(7)" class="background-amber align-center" ng-class="{'selected': data.value == 7}">
                <span ng-if="data.value == 7">Selected</span>
                <span ng-if="data.value != 7">7</span>
            </td>
            <td ng-click="selectValue(8)" class="background-amber align-center" ng-class="{'selected': data.value == 8}">
                <span ng-if="data.value == 8">Selected</span>
                <span ng-if="data.value != 8">8</span>
            </td>
        </tr>
        <tr>

            <td ng-click="selectValue(9)" class="background-amber align-center" ng-class="{'selected': data.value == 9}">
                <span ng-if="data.value == 9">Selected</span>
                <span ng-if="data.value != 9">9</span>
            </td>
            <td ng-click="selectValue(10)" class="background-amber align-center" ng-class="{'selected': data.value == 10}">
                <span ng-if="data.value == 10">Selected</span>
                <span ng-if="data.value != 10">10</span>
            </td>
            <td ng-click="selectValue(11)" class="background-amber align-center" ng-class="{'selected': data.value == 11}">
                <span ng-if="data.value == 11">Selected</span>
                <span ng-if="data.value != 11">11</span>
            </td>
            <td ng-click="selectValue(12)" class="background-amber align-center" ng-class="{'selected': data.value == 12}">
                <span ng-if="data.value == 12">Selected</span>
                <span ng-if="data.value != 12">12</span>
            </td>
        </tr>
        <tr>
            <td ng-click="selectValue(13)" class="background-red align-center" ng-class="{'selected': data.value == 13}">
                <span ng-if="data.value == 13">Selected</span>
                <span ng-if="data.value != 13">13</span>
            </td>
            <td ng-click="selectValue(14)" class="background-red align-center" ng-class="{'selected': data.value == 14}">
                <span ng-if="data.value == 14">Selected</span>
                <span ng-if="data.value != 14">14</span>
            </td>
            <td ng-click="selectValue(15)" class="background-red align-center" ng-class="{'selected': data.value == 15}">
                <span ng-if="data.value == 15">Selected</span>
                <span ng-if="data.value != 15">15</span>
            </td>
            <td ng-click="selectValue(16)" class="background-red align-center" ng-class="{'selected': data.value == 16}">
                <span ng-if="data.value == 16">Selected</span>
                <span ng-if="data.value != 16">16</span>
            </td>           
        </tr>         
    </tbody>
</table>